<div class="card">
    <form [formGroup]="form" (ngSubmit)="form.valid && handleCrearEvento()">
        <app-editar-evento [form]="form"></app-editar-evento>
    
        <div class="col-12">
            <div class="flex flex-wrap gap-2 justify-content-end">
                <p-button
                    label="Cancelar"
                    styleClass="p-button-secondary"
                    (click)="handleCerrarModal()"
                ></p-button>
                <p-button
                    label="Guardar"
                    [disabled]="!form.valid"
                    type="submit"
                ></p-button>
            </div>
        </div>
    </form>
</div>
