<p-toast key="agendatoast"></p-toast>
<p-messages key="agendamessage"></p-messages>
<p-confirmDialog key="agendaconfirm" [style]="{width: '50vw'}"></p-confirmDialog>

<router-outlet></router-outlet>

