<ng-container [formGroup]="form">
    <div class="col-12">
        <div class="p-fluid">
            <div class="p-formgrid grid">
                <div class="field col">
                    <!-- <label htmlFor="tipoEvento">Tipo de Evento:</label> -->

                    <h6>* Tipo de Evento:</h6>

                    <p-dropdown
                        name="tipoEvento"
                        [options]="tiposEventos"
                        formControlName="idTipoEvento"
                        optionLabel="nombre"
                        optionValue="idTipoEvento"
                        [filter]="true"
                        filterBy="nombre"
                        [showClear]="true"
                        placeholder="Seleccione un tipo de evento"                        
                    >
                    </p-dropdown>

                    <div *ngIf="IdTipoEvento.invalid && (IdTipoEvento.dirty || IdTipoEvento.touched)"
                        class="alert alert-danger">

                        <div *ngIf="IdTipoEvento.errors?.['required']">
                            El tipo de evento es requerido.
                        </div>
                    </div>
                </div>

                <div class="field col">
                    <h6>* Nombre de Evento:</h6>

                    <input
                        type="text"
                        name="nombreEvento"
                        pInputText
                        formControlName="nombre"
                        placeholder="Nombre"
                    />

                    <div *ngIf="Nombre.invalid && (Nombre.dirty || Nombre.touched)"
                        class="alert alert-danger">

                        <div *ngIf="Nombre.errors?.['required']">
                            El nombre es requerido.
                        </div>
                        <div *ngIf="Nombre.errors?.['maxlength']">
                            El nombre debe tener máximo 300 caracteres.
                        </div>
                    </div>
                </div>
            </div>

            <div class="p-formgrid grid">
                <div class="field col">
                    <h6>Local de Evento:</h6>

                    <input
                        type="text"
                        name="localEvento"
                        pInputText
                        formControlName="local"
                        placeholder="Local"
                    />
                </div>

                <div class="field col">
                    <h6>* Descripción de Evento:</h6>
                    
                    <textarea
                        rows="5"
                        cols="60"
                        name="descripcionEvento"
                        pInputTextarea
                        formControlName="descripcion"
                        placeholder="Descripción"
                    ></textarea>

                    <div *ngIf="Descripcion.invalid && (Descripcion.dirty || Descripcion.touched)"
                        class="alert alert-danger">

                        <div *ngIf="Descripcion.errors?.['required']">
                            La descripción es requerida.
                        </div>
                        <div *ngIf="Descripcion.errors?.['maxlength']">
                            La descripción debe tener máximo 500 caracteres.
                        </div>
                    </div>
                </div>
            </div>

            <div class="p-formgrid grid">
                <div class="field col">
                    <h6>* Fecha Inicio:</h6>

                    <p-calendar
                        formControlName="fechaInicio"
                        placeholder="Fecha"
                        dateFormat="dd/mm/yy"
                    ></p-calendar>
                    

                    
                </div>

                <div class="field col">
                    <h6>&nbsp;</h6>
                    <p-calendar
                        formControlName="horaInicio"
                        placeholder="Hora"
                        [timeOnly]="true"
                        hourFormat="24"
                    ></p-calendar>
                </div>

                <div class="field col">
                    <h6>* Fecha Fin:</h6>

                    <p-calendar
                            formControlName="fechaFin"  
                            placeholder="Fecha"                          
                            dateFormat="dd/mm/yy">
                    </p-calendar>
                </div>
                <div class="field col">
                    <h6>&nbsp;</h6>
                    <p-calendar
                        formControlName="horaFin"
                        placeholder="Hora"
                        [timeOnly]="true"
                        hourFormat="24">
                    </p-calendar>
                </div>
            </div>

            <div class="p-formgrid grid">
                <div class="field col">
                    <div *ngIf="(FechaInicio.invalid && (FechaInicio.dirty || FechaInicio.touched)) || 
                                (HoraInicio.invalid && (HoraInicio.dirty || HoraInicio.touched))"
                        class="alert alert-danger">
                        <div>
                            La fecha de inicio es requerida.
                        </div>
                    </div>
                </div>
                <div class="field col">
                    <div *ngIf="(FechaFin.invalid && (FechaFin.dirty || FechaFin.touched)) || 
                                (HoraFin.invalid && (HoraFin.dirty || HoraFin.touched))"
                        class="alert alert-danger">
                        <div>
                            La fecha de fin es requerida.
                        </div>
                    </div>
                </div>
            </div>

            <div class="p-formgrid grid">
                <div class="field col">
                    <h6>Participantes:</h6>
                    <p-chips placeholder="Participantes"
                             formControlName="nombresParticipantes"></p-chips>
                </div>
            </div>
        </div>
    </div>
</ng-container>
