
<div class="col-12">
    <div class="card p-fluid">       
        <h5>CALENDARIO DE EVENTOS</h5>

        <p-divider></p-divider>

        <br>

        <div class="flex">
            <div class="field col">
                <input pInputText 
                type="text"
                [(ngModel)]="filtro.filtroEvento"
                placeholder="Nombre o descripción evento"
                (keyup.enter)="handleBuscar()"
                 />
            </div>
            <div class="field col">
                <p-calendar
                    [(ngModel)]="filtro.fechaEvento"
                    dateFormat="dd/mm/yy"
                    placeholder="Fecha evento"
                    (keyup.enter)="handleBuscar()"
                    >
                </p-calendar>
            </div>
            <div class="field col">
                <p-calendar
                    [(ngModel)]="filtro.horaEvento"
                    [timeOnly]="true"
                    hourFormat="24"
                    placeholder="Hora evento"
                    (keyup.enter)="handleBuscar()"
                    >
                </p-calendar>
            </div>
            <div class="field col">
                <button type="button" 
                        pButton 
                        pRipple 
                        icon="pi pi-search"
                        class="p-button-success" 
                        pTooltip="Filtrar" 
                        tooltipPosition="bottom"
                        (click)="handleBuscar()">
                        Buscar
                </button>
            </div>
            <div class="field col">
                <button type="button" 
                        pButton 
                        pRipple 
                        icon="pi pi-filter"
                        class="p-button-info mr-2"
                        (click)="handleLimpiarBuscar()">
                        Limpiar
                </button>
            </div>
        </div>
        <br>

        <full-calendar #calendar [options]="calendarOptions"></full-calendar>
    </div>
</div>
