<div class="card">
    <form [formGroup]="form">
        <app-editar-evento [form]="form" [soloLectura]="true"></app-editar-evento>
    
        <div class="col-12">
            <div class="flex flex-wrap gap-2 justify-content-end">
                <p-button
                    label="Cancelar"
                    styleClass="p-button-secondary"
                    (click)="handleCerrarModal()"
                ></p-button>
            </div>
        </div>
    </form>
</div>