
<div class="col-12">
    <div class="card p-fluid">       

        <h5>EDITAR EVENTOS</h5>

        <br>

        <p-table #grid 
                 [value]="eventos" 
                 dataKey="idAgendaEvento"
                 [lazy]="true"
                 (onLazyLoad)="handleOnLoad($event)"
                 [paginator]="true"
                 [rows]="10"
                 loadingIcon="pi pi-spin pi-spinner"
                 [loading]="cargando"
                 [totalRecords]="totalRegistro"
                 [tableStyle]="{ 'min-width': '50rem' }"
                 styleClass="p-datatable-sm"
                 >

                 <ng-template pTemplate="caption">
                    <div class="flex">
                        <div class="field col">
                            <input pInputText 
                            type="text"
                            [(ngModel)]="filtro.filtroEvento"
                            placeholder="Nombre o descripción evento"
                            (keyup.enter)="handleBuscar()" />
                        </div>
                        <div class="field col">
                            <p-calendar
                                [(ngModel)]="filtro.fechaEvento"
                                dateFormat="dd/mm/yy"
                                placeholder="Fecha evento"
                                (keyup.enter)="handleBuscar()">
                            </p-calendar>
                        </div>
                        <div class="field col">
                            <p-calendar
                                [(ngModel)]="filtro.horaEvento"
                                [timeOnly]="true"
                                hourFormat="24"
                                placeholder="Hora evento"
                                (keyup.enter)="handleBuscar()">
                            </p-calendar>
                        </div>
                        <div class="field col">
                            <button type="button" 
                                    pButton 
                                    pRipple 
                                    icon="pi pi-search"
                                    class="p-button-success" 
                                    pTooltip="Filtrar" 
                                    tooltipPosition="bottom"
                                    (click)="handleBuscar()">
                                    Buscar
                            </button>
                        </div>
                        <div class="field col">
                            <button type="button" 
                                    pButton 
                                    pRipple 
                                    icon="pi pi-filter"
                                    class="p-button-info mr-2"
                                    (click)="handleLimpiarBusqueda()">
                                    Limpiar
                            </button>
                        </div>
                    </div>
                    <br>
                    <div class="flex">
                        <p-button label="Crear Evento"
                                  icon="pi pi-calendar-plus"
                                  class="p-button-success mr-2"
                                  (onClick)="handleCrearEvento()"></p-button>
                    </div>
                </ng-template>

            <ng-template pTemplate="header">
                <tr class="grid-header">
                    <th>FECHA Y HORA EVENTO</th>
                    <th>EVENTO</th>
                    <th>TIPO EVENTO</th>
                    <th>DESCRIPCIÓN</th>
                    <th>USUARIO</th>
                    <th>FECHA CREACIÓN</th>
                    <th>OPCIONES</th>
                </tr>
            </ng-template>

            <ng-template pTemplate="body" let-evento>
                <tr [pContextMenuRow]="evento">
                    <td>{{ evento.fechaHoraEvento }}</td>
                    <td>{{ evento.nombreEvento }}</td>
                    <td>{{ evento.nombreTipoEvento }}</td>
                    <td>{{ evento.descripcionEvento }}</td>
                    <td>{{ evento.nombreUsuarioCreador  }}</td>
                    <td>{{ evento.fechaRegistro }}</td>
                    <td>
                        <div class="flex justify-content-center gap-3" style="cursor: pointer;">
                            <i class="pi pi-eye" 
                               style="font-size: 1rem; cursor: pointer;" 
                               title="Ver Evento"
                               (click)="handleVerEvento(evento)"
                               >
                            </i>
                            <i class="pi pi-pencil" 
                               style="font-size: 1rem; cursor: pointer;" 
                               title="Actualizar Evento"
                               (click)="handleActualizarEvento(evento)">
                            </i>
                            <i class="pi pi-trash" 
                               style="font-size: 1rem; cursor: pointer;" 
                               title="Eliminar Evento"
                               (click)="handleEliminarEvento(evento)">
                            </i>
                        </div>
                    </td>
                </tr>
            </ng-template>

            <ng-template pTemplate="emptymessage" let-columns>
                <tr>
                  <td [attr.colspan]="6" style="text-align: center;">
                     No se encontraron registros
                  </td>
                </tr>
              </ng-template>
        </p-table>
    </div>
</div>
